@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-color:lightyellow">

</div>
<h1>ASP.NET Core Demo Page for CDW</h1>
<img src="~/images/cdw.png" />
<img src="~/images/aspnetcore.jpg" />
<iframe height="600" width="800" src="https://www.manutd.com/" />