<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a6ba19a1-6e2f-41c4-918e-34d12ae82ea7/resourceGroups/Ers-demo/providers/Microsoft.ContainerRegistry/registries/ersacr</ResourceId>
    <ResourceName>ersacr</ResourceName>
    <ResourceGroup>Ers-demo</ResourceGroup>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <RegistryUrl>https://ersacr.azurecr.io</RegistryUrl>
    <UserName>ersacr</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>72fcb0f3-0fe2-49bb-bca3-22632cdf7ecf</ProjectGuid>
  </PropertyGroup>
</Project>